<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>built_in_filters</title>
</head>
<body>
    <center>
        <h1>built_in_filters</h1>

        <h2>{{data}}</h2>
        <h2>{{data|lower}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|capfirst}}</h2>
        <h2>{{data|title}}</h2>
        <h2>{{data|length}}</h2>
        <h2>{{data|lower|truncatewords:'2'}}</h2>
        <h2>{{data|upper|truncatechars:'10'}}</h2>
        <h2>{{data|upper|slice:'10'}}</h2>
        <h2>{{date}}</h2>
        <h2>{{date|date:'Y'}}</h2>
        <h2>{{date|date:'F'}}</h2>
        <h2>{{date|date:'l'}}</h2>
        <h2>{{date|date:'d M Y'}}</h2>
        <h2>{{date|date:'h i s A'}}</h2>

        <h2>I have {{c}} Dog{{c|pluralize}}</h2>

        <h2>This {{c}} pen{{c|pluralize}} {{c|pluralize:'is,are'}} mine</h2>

    </center>
</body>
</html>